openapi: 3.0.3
info:
  title: Refuge Restrooms and Weather API
  description: An API to find gender-neutral and accessible restrooms and retrieve weather information.
  version: 1.0.0
servers:
  - url: https://www.refugerestrooms.org/api/v1
    description: Production server for Refuge Restrooms API
paths:
  /restrooms:
    get:
      summary: Get a list of restrooms.
      operationID: getAllRestrooms
      description: Retrieve a list of restrooms based on specified parameters.
      parameters:
        - in: query
          name: location
          schema:
            type: string
          description: The location to search for restrooms (e.g., city or coordinates).
        - in: query
          name: accessible
          schema:
            type: boolean
          description: Filter restrooms by accessibility.
        - in: query
          name: unisex
          schema:
            type: boolean
          description: Filter restrooms by being unisex.
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: The page number for paginated results.
        - in: query
          name: per_page
          schema:
            type: integer
            default: 10
          description: The number of results per page.
      responses:
        '200':
          description: A list of restrooms
        '400':
          description: Invalid request parameters
        '500':
          description: Server error
